﻿@model LicenseTool.ClassLibrary.License

@{
    ViewBag.Title = @LicenseTool.ResourceLibrary.Common.Delete;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><img src="~/Images/license.png" alt="@ViewBag.Title" />@ViewBag.Title</h2>

<h3>@LicenseTool.ResourceLibrary.Common.AreYouSureDelete</h3>
<fieldset>
    <legend>@LicenseTool.ResourceLibrary.Model.License</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.FeatureName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FeatureName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayLocalizedForEnum(model => model.Status, typeof(LicenseTool.ClassLibrary.LicenseStatus))
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderStartDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderStartDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderEndDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderEndDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NavLicServer.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NavLicServer.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Type)
    </div>
    <div class="display-field">
        @Html.DisplayLocalizedForEnum(model => model.Type, typeof(LicenseTool.ClassLibrary.LicenseType))
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Version)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Version)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NumLicenses)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumLicenses)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="@LicenseTool.ResourceLibrary.Common.Delete" /> |
        @Html.Partial("~/Views/Shared/BackToList.cshtml")
    </p>
}
