﻿@model LicenseTool.ClassLibrary.License

@{
    ViewBag.Title = @LicenseTool.ResourceLibrary.Common.Details;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><img src="~/Images/license.png" alt="@ViewBag.Title" />@ViewBag.Title</h2>

<fieldset>
    <legend>@LicenseTool.ResourceLibrary.Model.License</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.FeatureName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FeatureName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayLocalizedForEnum(model => model.Status, typeof(LicenseTool.ClassLibrary.LicenseStatus))
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderStartDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderStartDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderEndDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderEndDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NavLicServer.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NavLicServer.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Version)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Version)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NumLicenses)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumLicenses)
    </div>
</fieldset>
<p>
    @Html.ActionLinkWithImage("", "Edit", new { id = Model.Id }, "~/Images/edit.png", LicenseTool.ResourceLibrary.Common.Edit, new { @width = "32", @height = "32", @class = "noprint" })
    @Html.Partial("~/Views/Shared/BackToList.cshtml")
</p>
