﻿@model LicenseTool.ClassLibrary.License

@{
    ViewBag.Title = @LicenseTool.ResourceLibrary.Common.Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><img src="~/Images/license.png" alt="@ViewBag.Title" />@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@LicenseTool.ResourceLibrary.Model.License</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.FeatureName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FeatureName)
            @Html.ValidationMessageFor(model => model.FeatureName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Status)
            @Html.ValidationMessageFor(model => model.Status)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OrderName)
            @Html.ValidationMessageFor(model => model.OrderName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderStartDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OrderStartDate)
            @Html.ValidationMessageFor(model => model.OrderStartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderEndDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OrderEndDate)
            @Html.ValidationMessageFor(model => model.OrderEndDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LicServer, "NavLicServer")
        </div>
        <div class="editor-field">
            @Html.DropDownList("LicServer", String.Empty)
            @Html.ValidationMessageFor(model => model.LicServer)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Type)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Type)
            @Html.ValidationMessageFor(model => model.Type)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Version)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Version)
            @Html.ValidationMessageFor(model => model.Version)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumLicenses)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumLicenses)
            @Html.ValidationMessageFor(model => model.NumLicenses)
        </div>

        <p>
            <input type="submit" value="@LicenseTool.ResourceLibrary.Common.Save" />
        </p>
    </fieldset>
}

<div>
    @Html.Partial("~/Views/Shared/BackToList.cshtml")
</div>

@section Scripts {
    @Html.Partial("~/Views/Shared/Validation.cshtml")
}
