﻿@model LicenseTool.WebApplication.Models.LicenseSearchModel

@{
    ViewBag.Title =  @LicenseTool.ResourceLibrary.Model.Licenses;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><img src="~/Images/license.png" alt="@ViewBag.Title" />@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.PagingStartIndex)
    @Html.HiddenFor(model => model.SortColumn)
    @Html.HiddenFor(model => model.SortDirection)
    <p>
    </p>
    <table>
        <tr>
            <th>
                <a onclick="LicToolSortPage('NavLicServer.Name'); return false;" href="#">@LicenseTool.ResourceLibrary.Model.LicServer @Html.DisplayNameFor(model => model.NavLicServer.Name)</a>
            </th>
            <th>
                <a onclick="LicToolSortPage('FeatureName'); return false;" href="#">@Html.DisplayNameFor(model => model.FeatureName)</a>
            </th>
            <th>
                <a onclick="LicToolSortPage('Status'); return false;" href="#">@Html.DisplayNameFor(model => model.Status)</a>
            </th>
            <th>
                <a onclick="LicToolSortPage('OrderName'); return false;" href="#">@Html.DisplayNameFor(model => model.OrderName)</a>
            </th>
            <th>
                <a onclick="LicToolSortPage('OrderStartDate'); return false;" href="#">@Html.DisplayNameFor(model => model.OrderStartDate)</a>
            </th>
            <th>
                <a onclick="LicToolSortPage('OrderEndDate'); return false;" href="#">@Html.DisplayNameFor(model => model.OrderEndDate)</a>
            </th>
            <th>
                <a onclick="LicToolSortPage('Type'); return false;" href="#">@Html.DisplayNameFor(model => model.Type)</a>
            </th>
            <th>
                <a onclick="LicToolSortPage('Version'); return false;" href="#">@Html.DisplayNameFor(model => model.Version)</a>
            </th>
            <th>
                <a onclick="LicToolSortPage('NumLicenses'); return false;" href="#">@Html.DisplayNameFor(model => model.NumLicenses)</a>
            </th>
            <th class="noprint"></th>
        </tr>
        <tr class="noprint">
            <td>
                @Html.SearchDropDownListFor(model => model.NavLicServer.Name, (SelectList)ViewBag.AllLicServers, "", new { })
            </td>
            <td>
                @Html.SearchEditorFor(model => model.FeatureName)
            </td>
            <td>
                @Html.SearchDropDownListFor(model => model.Status, (SelectList)ViewBag.AllStatus, "", new { })
            </td>
            <td>
                @Html.SearchEditorFor(model => model.OrderName)
            </td>
            <td>
                @Html.SearchEditorFor(model => model.OrderStartDate)
            </td>
            <td>
                @Html.SearchEditorFor(model => model.OrderEndDate)
            </td>
            <td>
                @Html.SearchDropDownListFor(model => model.Type, (SelectList)ViewBag.AllTypes, "", new { })
            </td>
            <td>
                @Html.SearchEditorFor(model => model.Version)
            </td>
            <td>
                @Html.SearchEditorFor(model => model.NumLicenses)
            </td>
            <td class="noprint">
                <input type="submit" value="@LicenseTool.ResourceLibrary.Common.Search" />
            </td>
        </tr>

        @foreach (LicenseTool.ClassLibrary.License item in ViewBag.ShownItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NavLicServer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FeatureName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderEndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Version)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumLicenses)
                </td>
                <td class="noprint">
                    @Html.ActionLinkWithImage("", "Edit", new { id = item.Id }, "~/Images/edit.png", LicenseTool.ResourceLibrary.Common.Edit, new { @width = "32", @height = "32" })
                    @Html.ActionLinkWithImage("", "Details", new { id = item.Id }, "~/Images/details.png", LicenseTool.ResourceLibrary.Common.Details, new { @width = "32", @height = "32" })
                    @Html.ActionLinkWithImage("", "Delete", new { id = item.Id }, "~/Images/delete.png", LicenseTool.ResourceLibrary.Common.Delete, new { @width = "32", @height = "32" })
                    @Html.ActionLinkWithImage("", "Index", "LicUser", new { licenseId = item.Id }, null, "~/Images/user.png", LicenseTool.ResourceLibrary.Model.Users, new { @width = "32", @height = "32" })
                    @Html.ActionLinkWithImage("", "Index", "LicHost", new { licenseId = item.Id }, null, "~/Images/computer.png", LicenseTool.ResourceLibrary.Model.Hosts, new { @width = "32", @height = "32" })
                    @Html.ActionLinkWithImage("", "Index", "LicenseUsage", new { licenseId = item.Id }, null, "~/Images/usage.png", LicenseTool.ResourceLibrary.Model.Usages, new { @width = "32", @height = "32" })
                </td>
            </tr>
        }
    </table>
    @Html.Partial("~/Views/Shared/Paging.cshtml", Model);
}

<div class="content-group noprint">
    @Html.ActionLinkWithImage(LicenseTool.ResourceLibrary.Common.CreateNew, "Create", "~/Images/add.png", LicenseTool.ResourceLibrary.Common.CreateNew, new { @width = "32", @height = "32" })
</div>

@section Scripts {
    @Html.Partial("~/Views/Shared/Sorting.cshtml", Model)
    @Scripts.Render("~/bundles/jqueryui")
    @Html.Partial("~/Views/Shared/Tooltip.cshtml")
}


