﻿body {
    font-size: 1em;
    font-family: Arial,Helvetica,sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    background-image: url('../Images/background.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: right top;
    background-size: 100%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.center {
    text-align: center;
    width: 100%;
}

header {
    border-bottom-width: thin;
    border-bottom-style: solid;
    width: 100%;
    margin-bottom: 10px;
}

footer {
    border-top-width: thin;
    border-top-style: solid;
    width: 100%;
    position: absolute;
    height: 70px; /* related to main-content padding */
    bottom: 0;
    left: 0;
}

    footer .content-wrapper div {
        padding: 10px;
    }

.content-wrapper {
}

.content-wrapper-reset {
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.main-content {
    padding-bottom: 100px;
}

.main-wrapper {
    min-height: 100%;
    position: relative;
    padding: 10px;
}

.content-group {
    float: left;
    text-align: center;
    padding: 10px;
    width: 160px;
}

.content-group-reset {
    clear: both;
    display: block;
    height: 0;
    padding-top: 30px;
}

#dropzoneForm {
    width: 100%;
    height: 320px;
    background-color: lightgrey;
}

.tooltip {
    background-color: white;
    padding: 2px;
    position: absolute;
    z-index: 9999;
    max-width: 300px;
    -webkit-box-shadow: 0 0 5px #aaa;
    box-shadow: 0 0 5px #aaa;
    white-space: pre;
}

#login {
    display: block;
    font-size: .85em;
    margin: 0 5px 10px 0;
    text-align: right;
    line-height: 0;
}

ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color: #999;
            text-decoration: none;
        }

            ul#menu li a:hover {
                color: #333;
                text-decoration: none;
            }

#menu img {
    opacity: 0.7;
}

    #menu img:hover {
        opacity: 1;
    }

th {
    text-align: left;
    border: none 0;
    padding: 1px 5px 1px 5px;
    font-size: 0.9em;
    background: #bbb;
}

    th a {
        display: block;
        position: relative;
    }

        th a:link, th a:visited, th a:active, th a:hover {
            color: #333;
            font-weight: 600;
            text-decoration: none;
            padding: 0;
        }

        th a:hover {
            color: #000;
        }

td {
    white-space: nowrap;
    border: 0 none;
    padding: 1px 5px 1px 5px;
}

tr:nth-child(even) {
    background: #ddd;
}

    tr:nth-child(even).clear-child-event {
        background: inherit;
    }

h1, h2, h3,
h4, h5, h6 {
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2.2em;
    margin-top: 20px;
}

h2 {
    font-size: 1.8em;
    margin-top: 18px;
}

h3 {
    font-size: 1.5em;
    margin-top: 16px;
}

h4 {
    font-size: 1.2em;
    margin-top: 12px;
}

h5, h6 {
    font-size: 1.1em;
    margin-top: 4px;
}

.resetWidth {
    width: 100% !important;
}

div.pager {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
}

.editor-label {
    font-weight: bold;
    padding-top: 5px;
}

.editor-field {
}

.multi-editor-field input {
    height: 1em;
    margin: 0;
    line-height: 1em;
    font-size: 0.9em;
}

.display-field {
    padding-bottom: 8px;
    min-height: 8px;
}

.display-label {
    font-weight: bold;
    padding-top: 5px;
}
