﻿@model LicenseTool.WebApplication.Models.ReportSelectionModel

@{
    ViewBag.Title = LicenseTool.ResourceLibrary.Common.UsedLicensesReport;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><img src="~/Images/@ViewBag.HeadIcon" alt="@ViewBag.Title" />@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.PaperFormat)
    @Html.HiddenFor(model => model.BackAction)
    <input id="ReportName" name="ReportName" type="hidden" value="@Model.ReportName" /> <!-- was just not working: Html.HiddenFor(model => model.ReportName)-->
    <p>
    <p>
        @LicenseTool.ResourceLibrary.Common.ReportForLicenseServer
        @Html.DropDownListFor(model => model.LicServer, (SelectList)ViewBag.AllLicServers, "", new { })
    </p>
    @if (Model.LicServer > 0)
    {
        <p>
            @LicenseTool.ResourceLibrary.Common.ReportForLicense
            @Html.DropDownListFor(model => model.License, (SelectList)ViewBag.AllLicenses, "", new { })
        </p>
    }
    @if (Model.License > 0)
    {
        <p>
            @LicenseTool.ResourceLibrary.Common.ReportTimeframe
            @Html.DropDownListFor(model => model.ReportFrame, (SelectList)ViewBag.ReportFrames, "", new { })
        </p>
    }
    @if (Model.ReportFrame > 0)
    {
        <p>
            @switch (Model.ReportFrame)
            {
                case LicenseTool.WebApplication.Controllers.ReportFrame.Day:
                    @LicenseTool.ResourceLibrary.Common.SelectReportDate
                    @Html.SizedEditorFor(model => model.ReportStartDate, "DateTimeShort", new { })
                    break;
                case LicenseTool.WebApplication.Controllers.ReportFrame.Month:
                @LicenseTool.ResourceLibrary.Common.SelectReportYear
                @Html.DropDownListFor(model => model.Year, (SelectList)ViewBag.Years)<br />
                @LicenseTool.ResourceLibrary.Common.SelectReportMonth
                @Html.DropDownListFor(model => model.Month, (SelectList)ViewBag.Months)
                    break;
                case LicenseTool.WebApplication.Controllers.ReportFrame.Year:
                @LicenseTool.ResourceLibrary.Common.SelectReportYear
                @Html.DropDownListFor(model => model.Year, (SelectList)ViewBag.Years)
                    break;
            }
        </p>
        <p>
            @LicenseTool.ResourceLibrary.Common.SelectReportGroup
            @Html.DropDownListFor(model => model.ReportGroup, (SelectList)ViewBag.AllGroups, "")
        </p>
        <input type="submit" name="preview" value="@LicenseTool.ResourceLibrary.Common.Preview" />
    }
    </p>
    if (Model.Preview)
    {
        <img src="~/Images/loading.gif" id="PreviewImage" alt="Report preview" />
        <p>
            <input type="submit" name="downloadPDF" value="Download @LicenseTool.ResourceLibrary.Enum.PDF" />
            <input type="submit" name="downloadExcel" value="Download @LicenseTool.ResourceLibrary.Enum.EXCEL" />
            <input type="submit" name="downloadWord" value="Download @LicenseTool.ResourceLibrary.Enum.WORD" />
            <input type="submit" name="downloadImage" value="Download @LicenseTool.ResourceLibrary.Enum.TIFF" />
        </p>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/imagesloaded")
    <script>
        $(document).ready(function () {
            if ($("#PreviewImage").length) {
                var tmpImg = new Image();
                $(tmpImg).attr('src', "@( Html.Raw(Url.Action("Report", Model) ) )");
                imagesLoaded(tmpImg, function (instance) {
                    $("#PreviewImage").attr("src", "@( Html.Raw(Url.Action("Report", Model) ) )");
                });
            }
        });
        $("#LicServer").change(function () {
            $("form").submit();
        });
        $("#License").change(function () {
            $("form").submit();
        });
        $("#ReportFrame").change(function () {
            $("form").submit();
        });
    </script>
    @Html.Partial("~/Views/Shared/Validation.cshtml")
}


