﻿@model LicenseTool.ClassLibrary.LicenseUsage

@{
    ViewBag.Title = @LicenseTool.ResourceLibrary.Common.Delete;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><img src="~/Images/usage.png" alt="@ViewBag.Title" />@ViewBag.Title</h2>

<h3>@LicenseTool.ResourceLibrary.Common.AreYouSureDelete</h3>
<fieldset>
    <legend>@LicenseTool.ResourceLibrary.Model.LicenseUsage</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NavLicUser.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NavLicUser.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NavLicHost.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NavLicHost.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NavLicense.FeatureName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NavLicense.FeatureName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.State)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.State)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Version)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Version)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Quantity)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="@LicenseTool.ResourceLibrary.Common.Delete" /> |
        @Html.Partial("~/Views/Shared/BackToList.cshtml")
    </p>
}
