﻿@model LicenseTool.ClassLibrary.LicenseUsage

@{
    ViewBag.Title = @LicenseTool.ResourceLibrary.Common.Details;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><img src="~/Images/usage.png" alt="@ViewBag.Title" />@ViewBag.Title</h2>

<fieldset>
    <legend>@LicenseTool.ResourceLibrary.Model.LicenseUsage</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label">
         User @Html.DisplayNameFor(model => model.NavLicUser.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NavLicUser.Name)
    </div>

    <div class="display-label">
         Host @Html.DisplayNameFor(model => model.NavLicHost.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NavLicHost.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NavLicense.FeatureName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NavLicense.FeatureName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.State)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.State)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Version)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Version)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Quantity)
    </div>
</fieldset>
<p>
    @Html.ActionLinkWithImage("", "Edit", new { id = Model.Id }, "~/Images/edit.png", LicenseTool.ResourceLibrary.Common.Edit, new { @width = "32", @height = "32", @class = "noprint" })
    @Html.Partial("~/Views/Shared/BackToList.cshtml")
</p>
