﻿@model LicenseTool.ClassLibrary.LicenseUsage

@{
    ViewBag.Title = @LicenseTool.ResourceLibrary.Common.Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><img src="~/Images/usage.png" alt="@ViewBag.Title" />@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@LicenseTool.ResourceLibrary.Model.LicenseUsage</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndDate)
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartDate)
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LicUser, "NavLicUser")
        </div>
        <div class="editor-field">
            @Html.DropDownList("LicUser", String.Empty)
            @Html.ValidationMessageFor(model => model.LicUser)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LicHost, "NavLicHost")
        </div>
        <div class="editor-field">
            @Html.DropDownList("LicHost", String.Empty)
            @Html.ValidationMessageFor(model => model.LicHost)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.License, "NavLicense")
        </div>
        <div class="editor-field">
            @Html.DropDownList("License", String.Empty)
            @Html.ValidationMessageFor(model => model.License)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.State)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.State)
            @Html.ValidationMessageFor(model => model.State)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Version)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Version)
            @Html.ValidationMessageFor(model => model.Version)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Quantity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Quantity)
            @Html.ValidationMessageFor(model => model.Quantity)
        </div>

        <p>
            <input type="submit" value="@LicenseTool.ResourceLibrary.Common.Save" />
        </p>
    </fieldset>
}

<div>
    @Html.Partial("~/Views/Shared/BackToList.cshtml")
</div>

@section Scripts {
    @Html.Partial("~/Views/Shared/Validation.cshtml")
}
