﻿@model LicenseTool.WebApplication.Models.LicenseUsageSearchModel

@{
    ViewBag.Title = @LicenseTool.ResourceLibrary.Model.LicenseUsages;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><img src="~/Images/usage.png" alt="@ViewBag.Title" />@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "LicenseUsage"))
{
    @Html.AntiForgeryToken()
    <p>
        @Html.HiddenFor(model => model.PagingStartIndex)
        @Html.HiddenFor(model => model.SortColumn)
        @Html.HiddenFor(model => model.SortDirection)
    </p>
    <p>
    </p>
    <table>
        <tr>
            <th>
                <a onclick="LicToolSortPage('EndDate'); return false;" href="#">@Html.DisplayNameFor(model => model.EndDate)</a>
            </th>
            <th>
                <a onclick="LicToolSortPage('StartDate'); return false;" href="#">@Html.DisplayNameFor(model => model.StartDate)</a>
            </th>
            <th>
                <a onclick="LicToolSortPage('NavLicUser.Name'); return false;" href="#">User @Html.DisplayNameFor(model => model.NavLicUser.Name)</a>
            </th>
            <th>
                <a onclick="LicToolSortPage('NavLicHost.Name'); return false;" href="#">Host @Html.DisplayNameFor(model => model.NavLicHost.Name)</a>
            </th>
            <th>
                <a onclick="LicToolSortPage('NavLicense.NavLicServer.Name'); return false;" href="#">Server @Html.DisplayNameFor(model => model.NavLicense.NavLicServer.Name)</a>
            </th>
            <th>
                <a onclick="LicToolSortPage('NavLicense.FeatureName'); return false;" href="#">@Html.DisplayNameFor(model => model.NavLicense.FeatureName)</a>
            </th>
            <th>
                <a onclick="LicToolSortPage('State'); return false;" href="#">@Html.DisplayNameFor(model => model.State)</a>
            </th>
            <th>
                <a onclick="LicToolSortPage('Version'); return false;" href="#">@Html.DisplayNameFor(model => model.Version)</a>
            </th>
            <th>
                <a onclick="LicToolSortPage('Quantity'); return false;" href="#">@Html.DisplayNameFor(model => model.Quantity)</a>
            </th>
            <th class="noprint"></th>
        </tr>
        <tr class="noprint">
            <td>
                @Html.SearchEditorFor(model => model.EndDate)
            </td>
            <td>
                @Html.SearchEditorFor(model => model.StartDate)
            </td>
            <td>
                @Html.SearchEditorFor(model => model.NavLicUser.Name)
            </td>
            <td>
                @Html.SearchEditorFor(model => model.NavLicHost.Name)
            </td>
            <td>
                @Html.SearchDropDownListFor(model => model.SelectedLicServer, (SelectList)ViewBag.AllLicServers, "", new { })
            </td>
            <td>
                @Html.SearchEditorFor(model => model.NavLicense.FeatureName)
            </td>
            <td>
                @Html.SearchDropDownListFor(model => model.State, (SelectList)ViewBag.AllStates, "", new { })
            </td>
            <td>
                @Html.SearchEditorFor(model => model.Version)
            </td>
            <td>
                @Html.SearchEditorFor(model => model.Quantity)
            </td>
            <td class="noprint">
                <input type="submit" value="@LicenseTool.ResourceLibrary.Common.Search" />
            </td>
        </tr>

        @foreach (LicenseTool.ClassLibrary.LicenseUsage item in ViewBag.ShownItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.ActionLink(item.NavLicUser.Name, "Index", "LicUser", new { userId = item.LicUser }, new { })
                </td>
                <td>
                    @Html.ActionLink(item.NavLicHost.Name, "Index", "LicHost", new { hostId = item.LicHost }, new { })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NavLicense.NavLicServer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NavLicense.FeatureName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Version)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td class="noprint">
                    @Html.ActionLinkWithImage("", "Edit", new { id = item.Id }, "~/Images/edit.png", LicenseTool.ResourceLibrary.Common.Edit, new { @width = "32", @height = "32" })
                    @Html.ActionLinkWithImage("", "Details", new { id = item.Id }, "~/Images/details.png", LicenseTool.ResourceLibrary.Common.Details, new { @width = "32", @height = "32" })
                    @Html.ActionLinkWithImage("", "Delete", new { id = item.Id }, "~/Images/delete.png", LicenseTool.ResourceLibrary.Common.Delete, new { @width = "32", @height = "32" })
                    @Html.ActionLinkWithImage("", "Index", "LicUser", new { userId = item.LicUser }, null, "~/Images/user.png", LicenseTool.ResourceLibrary.Model.Users, new { @width = "32", @height = "32" })
                    @Html.ActionLinkWithImage("", "Index", "LicHost", new { hostId = item.LicHost }, null, "~/Images/computer.png", LicenseTool.ResourceLibrary.Model.Hosts, new { @width = "32", @height = "32" })
                </td>
            </tr>
        }

    </table>
    @Html.Partial("~/Views/Shared/Paging.cshtml", Model);
}

<div class="content-group noprint">
    @Html.ActionLinkWithImage(LicenseTool.ResourceLibrary.Common.CreateNew, "Create", "~/Images/add.png", LicenseTool.ResourceLibrary.Common.CreateNew, new { @width = "32", @height = "32" })
</div>

@section Scripts {
    @Html.Partial("~/Views/Shared/Sorting.cshtml", Model)
    @Scripts.Render("~/bundles/jqueryui")
    @Html.Partial("~/Views/Shared/Tooltip.cshtml")
}
