﻿@model LicenseTool.ClassLibrary.Group

@{
    ViewBag.Title = @LicenseTool.ResourceLibrary.Common.Create;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><img src="~/Images/group.png" alt="@ViewBag.Title" />@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@LicenseTool.ResourceLibrary.Model.Group</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <p>
            <input type="submit" value="@LicenseTool.ResourceLibrary.Common.Create" />
        </p>
    </fieldset>
}

<div>
    @Html.Partial("~/Views/Shared/BackToList.cshtml")
</div>

@section Scripts {
    @Html.Partial("~/Views/Shared/Validation.cshtml")
}
