﻿@model LicenseTool.ClassLibrary.Group

@{
    ViewBag.Title = @LicenseTool.ResourceLibrary.Common.Delete;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><img src="~/Images/group.png" alt="@ViewBag.Title" />@ViewBag.Title</h2>

<h3>@LicenseTool.ResourceLibrary.Common.AreYouSureDelete</h3>
<fieldset>
    <legend>@LicenseTool.ResourceLibrary.Model.Group</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="@LicenseTool.ResourceLibrary.Common.Delete" /> |
        @Html.Partial("~/Views/Shared/BackToList.cshtml")
    </p>
}
