﻿@model LicenseTool.ClassLibrary.Group

@{
    ViewBag.Title = @LicenseTool.ResourceLibrary.Common.Details;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><img src="~/Images/group.png" alt="@ViewBag.Title" />@ViewBag.Title</h2>

<fieldset>
    <legend>@LicenseTool.ResourceLibrary.Model.Group</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLinkWithImage("", "Edit", new { id = Model.Id }, "~/Images/edit.png", LicenseTool.ResourceLibrary.Common.Edit, new { @width = "32", @height = "32", @class = "noprint" })
    @Html.Partial("~/Views/Shared/BackToList.cshtml")
</p>
