﻿@model LicenseTool.ClassLibrary.Group

@{
    ViewBag.Title = @LicenseTool.ResourceLibrary.Common.Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><img src="~/Images/group.png" alt="@ViewBag.Title" />@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@LicenseTool.ResourceLibrary.Model.Group</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @LicenseTool.ResourceLibrary.Common.UsersInGroup
        </div>
        <div class="editor-field" style="display: table;">
            <div style="display: table-row;">
                <div style="display: table-cell; vertical-align: middle;">
                    @LicenseTool.ResourceLibrary.Common.AllUsers<br />
                    @Html.ListBox("AllUsers", (MultiSelectList)ViewBag.AllLicUsers, new { multiple = "multiple", style = "height: 400px" })
                </div>
                <div style="display: table-cell; vertical-align: middle;padding: 10px;">
                    <input type="button" value=">>" onclick="MoveItemsRight(); return false;" /><br />
                    <input type="button" value="<<" onclick="MoveItemsLeft(); return false;" />
                </div>
                <div style="display: table-cell; vertical-align: middle;">
                    @LicenseTool.ResourceLibrary.Common.UsersInGroup<br />
                    @Html.ListBox("SelectedGroupUser", (MultiSelectList)ViewBag.AllRelGroupUser, new { multiple = "multiple", style = "height: 400px" })
                </div>
            </div>
        </div>

        <p>
            <input type="submit" value="@LicenseTool.ResourceLibrary.Common.Save" />
        </p>
    </fieldset>
}

<div>
    @Html.Partial("~/Views/Shared/BackToList.cshtml")
</div>

@section Scripts {
    @Html.Partial("~/Views/Shared/Validation.cshtml")
<script>
    function MoveItemsRight() {
        var selectedOpts = $('#AllUsers option:selected');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            return;
        }
        $('#SelectedGroupUser').append($(selectedOpts).clone());
        $(selectedOpts).remove();
        SelectSort();
    }
    function MoveItemsLeft() {
        var selectedOpts = $('#SelectedGroupUser option:selected');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            return;
        }
        $('#AllUsers').append($(selectedOpts).clone());
        $(selectedOpts).remove();
        SelectSort();
    }
    function SelectSort() {
        $("#SelectedGroupUser").append($("#SelectedGroupUser option").remove().sort(function (a, b) {
            var at = $(a).text(), bt = $(b).text();
            return (at > bt) ? 1 : ((at < bt) ? -1 : 0);
        }));
        $("#AllUsers").append($("#AllUsers option").remove().sort(function (a, b) {
            var at = $(a).text(), bt = $(b).text();
            return (at > bt) ? 1 : ((at < bt) ? -1 : 0);
        }));
    }
    $(function () {
        $("form").submit(function (e) {
            $("#SelectedGroupUser option").attr("selected", "selected");
        });
    });
</script>
}
