﻿@model LicenseTool.WebApplication.Models.GroupSearchModel

@{
    ViewBag.Title = LicenseTool.ResourceLibrary.Model.Groups;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><img src="~/Images/group.png" alt="@ViewBag.Title" />@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.PagingStartIndex)
    @Html.HiddenFor(model => model.SortColumn)
    @Html.HiddenFor(model => model.SortDirection)
    <p>
    </p>
    <table>
        <tr>
            <th>
                <a onclick="LicToolSortPage('Name'); return false;" href="#">@Html.DisplayNameFor(model => model.Name)</a>
            </th>
            <th>
                <a onclick="LicToolSortPage('Description'); return false;" href="#">@Html.DisplayNameFor(model => model.Description)</a>
            </th>
            <th class="noprint"></th>
        </tr>
        <tr class="noprint">
            <td>
                @Html.SearchEditorFor(model => model.Name)
            </td>
            <td>
                @Html.SearchEditorFor(model => model.Description)
            </td>
            <td class="noprint">
                <input type="submit" value="@LicenseTool.ResourceLibrary.Common.Search" />
            </td>
        </tr>

        @foreach (LicenseTool.ClassLibrary.Group item in ViewBag.ShownItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="noprint">
                    @Html.ActionLinkWithImage("", "Edit", new { id = item.Id }, "~/Images/edit.png", LicenseTool.ResourceLibrary.Common.Edit, new { @width = "32", @height = "32" })
                    @Html.ActionLinkWithImage("", "Details", new { id = item.Id }, "~/Images/details.png", LicenseTool.ResourceLibrary.Common.Details, new { @width = "32", @height = "32" })
                    @Html.ActionLinkWithImage("", "Delete", new { id = item.Id }, "~/Images/delete.png", LicenseTool.ResourceLibrary.Common.Delete, new { @width = "32", @height = "32" })
                </td>
            </tr>
        }

    </table>
    @Html.Partial("~/Views/Shared/Paging.cshtml", Model);
}

<div class="content-group noprint">
    @Html.ActionLinkWithImage(LicenseTool.ResourceLibrary.Common.CreateNew, "Create", "~/Images/add.png", LicenseTool.ResourceLibrary.Common.CreateNew, new { @width = "32", @height = "32" })
</div>

@section Scripts {
    @Html.Partial("~/Views/Shared/Sorting.cshtml", Model)
    @Scripts.Render("~/bundles/jqueryui")
    @Html.Partial("~/Views/Shared/Tooltip.cshtml")
}
