﻿@{
    ViewBag.Title = @LicenseTool.ResourceLibrary.Common.About;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><img src="~/Images/about.png" alt="@ViewBag.Title" />@ViewBag.Title</h2>


<br />
<br />
<div class="center">
    <h2>@LicenseTool.ResourceLibrary.Common.LicenseTool @LicenseTool.ResourceLibrary.Common.By Konrad Brunner</h2>
    <h2>@LicenseTool.ResourceLibrary.Common.Version: @ViewContext.Controller.GetType().Assembly.GetName().Version</h2>
    <h2>@LicenseTool.ResourceLibrary.Common.License: @LicenseTool.ResourceLibrary.Common.GnuPublicLicense</h2>
</div>
<br />
<br />
