﻿@{
    ViewBag.Title = @LicenseTool.ResourceLibrary.Common.CommandLineTool;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><img src="~/Images/cmd.png" alt="@ViewBag.Title" />@ViewBag.Title</h2>

<p>
    @LicenseTool.ResourceLibrary.Common.CommandLineToolGeneral
    <ul>
        <li>@LicenseTool.ResourceLibrary.Common.CommandLineToolGeneralP1</li>
        <li>@LicenseTool.ResourceLibrary.Common.CommandLineToolGeneralP2</li>
        <li>@LicenseTool.ResourceLibrary.Common.CommandLineToolGeneralP3</li>
    </ul>
</p>

<h3>@LicenseTool.ResourceLibrary.Common.CommandLineToolDownload:</h3>
    @LicenseTool.ResourceLibrary.Common.CommandLineToolDownloadT <a href="~/Content/binaries/LicenseTool.GatheringConsole_Release.zip" alt="LicenseTool.GatheringConsole_Release.zip">@LicenseTool.ResourceLibrary.Common.CommandLineToolDownloadHere</a>.

<h3>@LicenseTool.ResourceLibrary.Common.CommandLineToolUsage:</h3>
    @LicenseTool.ResourceLibrary.Common.CommandLineToolUsageT
<ul>
    <li>
        <h4>@LicenseTool.ResourceLibrary.Common.CommandLineToolUsageGatherDirectory</h4>
        @LicenseTool.ResourceLibrary.Common.CommandLineToolUsageGatherDirectoryT
        <ul>
            <li>
                <h5>@LicenseTool.ResourceLibrary.Common.Step 1</h5>
                <p>@LicenseTool.ResourceLibrary.Common.CommandLineToolUsageGatherDirectoryStep1</p>
                <p style="margin-left: 20px;">
                    <i>&lt;add name="LicenseToolDatabaseEntities" connectionstring="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&amp;quot;data source=(LocalDB)\v11.0;attachdbfilename=C:\Examples\LicenseToolDatabase.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&amp;quot;" providername="System.Data.EntityClient" /&gt;</i>
                </p>
            </li>
            <li>
                <h5>@LicenseTool.ResourceLibrary.Common.Step 2</h5>
                <p>@LicenseTool.ResourceLibrary.Common.CommandLineToolUsageGatherDirectoryStep2</p>
                <p style="margin-left: 20px;">
                    <i>
                        &lt;setting name="WatchLocation" serializeas="String"&gt;
                        &lt;value&gt;C:\Examples\Input&lt;/value&gt;
                        &lt;/setting&gt;<br />
                        &lt;setting name="MoveToLocation" serializeas="String"&gt;
                        &lt;value&gt;C:\Examples\Done&lt;/value&gt;
                        &lt;/setting&gt;
                    </i>
                </p>
            </li>
            <li>
                <h5>@LicenseTool.ResourceLibrary.Common.Step 3</h5>
                <p>@LicenseTool.ResourceLibrary.Common.CommandLineToolUsageGatherDirectoryStep3</p>
            </li>
            <li>
                <h4>@LicenseTool.ResourceLibrary.Common.Step 4</h4>
                <p>@LicenseTool.ResourceLibrary.Common.CommandLineToolUsageGatherDirectoryStep4</p>
                <p style="margin-left: 20px;">
                    <i>
                        LicenseTool.GatheringConsole.exe dir
                    </i>
                </p>
            </li>
            <li>
                <h5>@LicenseTool.ResourceLibrary.Common.Step 5</h5>
                <p>@LicenseTool.ResourceLibrary.Common.CommandLineToolUsageGatherDirectoryStep5</p>
            </li>
        </ul>
    </li>
    <li>
        <h4>@LicenseTool.ResourceLibrary.Common.CommandLineToolUsageGatherLicenseServers</h4>
        @LicenseTool.ResourceLibrary.Common.CommandLineToolUsageGatherLicenseServersT
        <ul>
            <li>
                <h5>@LicenseTool.ResourceLibrary.Common.Step 1</h5>
                <p>@LicenseTool.ResourceLibrary.Common.CommandLineToolUsageGatherLicenseServersStep1</p>
                <p style="margin-left: 20px;">
                    <i>&lt;add name="LicenseToolDatabaseEntities" connectionstring="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&amp;quot;data source=(LocalDB)\v11.0;attachdbfilename=C:\Examples\LicenseToolDatabase.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&amp;quot;" providername="System.Data.EntityClient" /&gt;</i>
                </p>
            </li>
            <li>
                <h5>@LicenseTool.ResourceLibrary.Common.Step 2</h5>
                <p>@LicenseTool.ResourceLibrary.Common.CommandLineToolUsageGatherLicenseServersStep2</p>
                <p style="margin-left: 20px;">
                    <i>
                        &lt;setting name="TempLocation" serializeas="String"&gt;
                        &lt;value&gt;C:\Temp&lt;/value&gt;
                        &lt;/setting&gt;<br />
                        &lt;setting name="LmutilPath" serializeas="String"&gt;
                        &lt;value&gt;C:\FlexLM\lmutil.exe&lt;/value&gt;
                        &lt;/setting&gt;
                    </i>
                </p>
            </li>
            <li>
                <h5>@LicenseTool.ResourceLibrary.Common.Step 3</h5>
                <p>@LicenseTool.ResourceLibrary.Common.CommandLineToolUsageGatherLicenseServersStep3</p>
            </li>
            <li>
                <h5>@LicenseTool.ResourceLibrary.Common.Step 4</h5>
                <p>@LicenseTool.ResourceLibrary.Common.CommandLineToolUsageGatherLicenseServersStep4</p>
                <p style="margin-left: 20px;">
                    <i>
                        LicenseTool.GatheringConsole.exe lic
                    </i>
                </p>
            </li>
            <li>
                <h5>@LicenseTool.ResourceLibrary.Common.Step 5</h5>
                <p>@LicenseTool.ResourceLibrary.Common.CommandLineToolUsageGatherLicenseServersStep5</p>
            </li>
        </ul>
    </li>
    <li>
        <h4>@LicenseTool.ResourceLibrary.Common.CommandLineToolUsageSyncAD</h4>
        @LicenseTool.ResourceLibrary.Common.CommandLineToolUsageSyncADT
        <ul>
            <li>
                <h5>@LicenseTool.ResourceLibrary.Common.Step 1</h5>
                <p>@LicenseTool.ResourceLibrary.Common.CommandLineToolUsageSyncADStep1</p>
                <p style="margin-left: 20px;">
                    <i>&lt;add name="LicenseToolDatabaseEntities" connectionstring="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&amp;quot;data source=(LocalDB)\v11.0;attachdbfilename=C:\Examples\LicenseToolDatabase.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&amp;quot;" providername="System.Data.EntityClient" /&gt;</i>
                </p>
            </li>
            <li>
                <h5>@LicenseTool.ResourceLibrary.Common.Step 2</h5>
                <p>@LicenseTool.ResourceLibrary.Common.CommandLineToolUsageSyncADStep21</p>
                <p style="margin-left: 20px;">
                    <i>
                        &lt;setting name="Domain" serializeas="String"&gt;
                        &lt;value&gt;any.domain.ch&lt;/value&gt;
                        &lt;/setting&gt;<br />
                        &lt;setting name="ActiveDirectorySearchRoot" serializeas="String"&gt;
                        &lt;value&gt;LDAP://CN=Users,DC=any,DC=domain,DC=ch&lt;/value&gt;
                        &lt;/setting&gt;
                    </i>
                </p>
                <p>@LicenseTool.ResourceLibrary.Common.CommandLineToolUsageSyncADStep22</p>
                <p style="margin-left: 20px;">
                    <i>
                        &lt;setting name="ActiveDirectorySearchUser" serializeas="String"&gt;
                        &lt;value&gt;userName&lt;/value&gt;
                        &lt;/setting&gt;<br />
                        &lt;setting name="ActiveDirectorySearchPwd" serializeas="String"&gt;
                        &lt;value&gt;password&lt;/value&gt;
                        &lt;/setting&gt;
                    </i>
                </p>
            </li>
            <li>
                <h5>@LicenseTool.ResourceLibrary.Common.Step 3</h5>
                <p>@LicenseTool.ResourceLibrary.Common.CommandLineToolUsageSyncADStep3</p>
                <p style="margin-left: 20px;">
                    <i>
                        LicenseTool.GatheringConsole.exe ad
                    </i>
                </p>
            </li>
            <li>
                <h5>@LicenseTool.ResourceLibrary.Common.Step 4</h5>
                <p>@LicenseTool.ResourceLibrary.Common.CommandLineToolUsageSyncADStep4</p>
            </li>
        </ul>
    </li>
</ul>
