﻿@{
    ViewBag.Title = @LicenseTool.ResourceLibrary.Common.Contact;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><img src="~/Images/email.png" alt="@ViewBag.Title" />@ViewBag.Title</h2>


<br />
<br />
<div class="content-group"><a href="https://ch.linkedin.com/pub/konrad-brunner/16/594/815"><img src="~/Images/linkedin.png" alt="LinkedIn" /></a></div>
<div class="content-group"><a href="https://www.xing.com/profile/Konrad_Brunner3"><img src="~/Images/xing.png" alt="Xing" /></a></div>
<div class="content-group"><a href="https://www.facebook.com/konrad.brunner"><img src="~/Images/facebook.png" alt="Facebook" /></a></div>
<br />
<br />
