﻿@{
    ViewBag.Title = @LicenseTool.ResourceLibrary.Common.DownloadCSV;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><img src="~/Images/download.png" alt="@ViewBag.Title" />@ViewBag.Title</h2>
<p>@LicenseTool.ResourceLibrary.Common.DownloadCSVT</p>

<div class="content-group">
    @Html.ActionLinkWithImage(LicenseTool.ResourceLibrary.Model.LicenseServers, "DownloadCsv", new { @entity = "LicServer" }, "~/Images/server.png", LicenseTool.ResourceLibrary.Model.LicenseServers)
</div>
<div class="content-group">
    @Html.ActionLinkWithImage(LicenseTool.ResourceLibrary.Model.Licenses, "DownloadCsv", new { @entity = "License" }, "~/Images/license.png", LicenseTool.ResourceLibrary.Model.Licenses)
</div>
<div class="content-group">
    @Html.ActionLinkWithImage(LicenseTool.ResourceLibrary.Model.Hosts, "DownloadCsv", new { @entity = "LicHost" }, "~/Images/computer.png", LicenseTool.ResourceLibrary.Model.Hosts)
</div>
<div class="content-group">
    @Html.ActionLinkWithImage(LicenseTool.ResourceLibrary.Model.Users, "DownloadCsv", new { @entity = "LicUser" }, "~/Images/user.png", LicenseTool.ResourceLibrary.Model.Users)
</div>
<div class="content-group">
    @Html.ActionLinkWithImage(LicenseTool.ResourceLibrary.Model.UsedLicenses, "DownloadCsv", new { @entity = "LicenseUsage" }, "~/Images/usage.png", LicenseTool.ResourceLibrary.Model.UsedLicenses)
</div>
<div class="content-group-reset" />


