﻿@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = @LicenseTool.ResourceLibrary.Common.Error;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2><img src="~/Images/error.png" alt="@ViewBag.Title" />@ViewBag.Title @ViewBag.ErrorId</h2>
<br />
<br />
@{
    switch ((string)ViewBag.ErrorId)
    {
        case "404":
            @LicenseTool.ResourceLibrary.Common.Error404
            break;
        case "403":
        @LicenseTool.ResourceLibrary.Common.Error403
            break;
        case "500":
        @LicenseTool.ResourceLibrary.Common.Error500
            break;
    }
}
<br /><br />
@LicenseTool.ResourceLibrary.Common.ErrorRequested<br />@Request.QueryString["aspxerrorpath"]
