﻿@{
    ViewBag.Title = @LicenseTool.ResourceLibrary.Common.Home;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@LicenseTool.ResourceLibrary.Common.DataMaintenance:</h2>

<div class="content-group">
    @Html.ActionLinkWithImage(LicenseTool.ResourceLibrary.Model.LicenseServers, "Index", "LicServer", "~/Images/server.png", LicenseTool.ResourceLibrary.Model.LicenseServers)
</div>
<div class="content-group">
    @Html.ActionLinkWithImage(LicenseTool.ResourceLibrary.Model.Licenses, "Index", "License", "~/Images/license.png", LicenseTool.ResourceLibrary.Model.Licenses)
</div>
<div class="content-group">
    @Html.ActionLinkWithImage(LicenseTool.ResourceLibrary.Model.Hosts, "Index", "LicHost", "~/Images/computer.png", LicenseTool.ResourceLibrary.Model.Hosts)
</div>
<div class="content-group">
    @Html.ActionLinkWithImage(LicenseTool.ResourceLibrary.Model.Users, "Index", "LicUser", "~/Images/user.png", LicenseTool.ResourceLibrary.Model.Users)
</div>
<div class="content-group">
    @Html.ActionLinkWithImage(LicenseTool.ResourceLibrary.Model.Groups, "Index", "Group", "~/Images/group.png", LicenseTool.ResourceLibrary.Model.Groups)
</div>
<div class="content-group">
    @Html.ActionLinkWithImage(LicenseTool.ResourceLibrary.Model.UsedLicenses, "Index", "LicenseUsage", "~/Images/usage.png", LicenseTool.ResourceLibrary.Model.UsedLicenses)
</div>
<div class="content-group-reset" />

<h2>@LicenseTool.ResourceLibrary.Common.Reports:</h2>
<div class="content-group">
    @Html.ActionLinkWithImage(LicenseTool.ResourceLibrary.Model.UsedLicenses, "UsedLicenses", "Report", "~/Images/report.png", LicenseTool.ResourceLibrary.Model.UsedLicenses)
</div>
<div class="content-group">
    @Html.ActionLinkWithImage(LicenseTool.ResourceLibrary.Model.UsedLicensesSheet, "UsedLicensesSheet", "Report", "~/Images/sheet.png", LicenseTool.ResourceLibrary.Model.UsedLicensesSheet)
</div>
<div class="content-group-reset" />

<h2>@LicenseTool.ResourceLibrary.Common.Plugins:</h2>
@Html.PluginList()
<div class="content-group-reset" />

<h2>@LicenseTool.ResourceLibrary.Common.DataImpExp:</h2>
<div class="content-group">
    @Html.ActionLinkWithImage(LicenseTool.ResourceLibrary.Common.ImportLicenseFiles, "Upload", "~/Images/upload.png", LicenseTool.ResourceLibrary.Common.Upload)
</div>
<div class="content-group">
    @Html.ActionLinkWithImage(LicenseTool.ResourceLibrary.Common.DownloadCSV, "DownloadCsv", "~/Images/download.png", LicenseTool.ResourceLibrary.Common.DownloadCSV)
</div>
<div class="content-group">
    @Html.ActionLinkWithImage(LicenseTool.ResourceLibrary.Common.CommandLineTool, "CommandLine", "~/Images/cmd.png", LicenseTool.ResourceLibrary.Common.CommandLineTool)
</div>
<div class="content-group">
    @Html.ActionLinkWithImage(LicenseTool.ResourceLibrary.Common.WindowsService, "WindowsService", "~/Images/service.png", LicenseTool.ResourceLibrary.Common.WindowsService)
</div>
<div class="content-group-reset" />

