﻿@{
    ViewBag.Title = @LicenseTool.ResourceLibrary.Common.PluginInput;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2><img src="~/Images/plugins.png" alt="@ViewBag.Title" />@ViewBag.Title</h2>
