﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><img src="@ViewBag.Plugin.GetIconPath(HttpContext.Current)" alt="@ViewBag.Title" />@ViewBag.Title</h2>

<p>
    @if (Request.UrlReferrer != null && !string.IsNullOrEmpty(Request.UrlReferrer.AbsoluteUri))
    { <a onclick="history.go(-1); return false;" href="#">@LicenseTool.ResourceLibrary.Common.Back</a> }
</p>

<p>
    @ViewBag.Description
</p>

@if (ViewBag.Result != null && ViewBag.Result.Length > 1)
{
    <table>
        @for (int r = 0; r < ViewBag.Result.Length; r++)
        {
        <tr>
            @for (int c = 0; c < ViewBag.Result[r].Length; c++)
            {
                if (r == 0)
                {
                    <th>
                        @(new HtmlString(ViewBag.Result[r][c]))
                    </th>
                }
                else
                {
                    <td>
                        @(new HtmlString(ViewBag.Result[r][c]))
                    </td>
                }
            }
        </tr>
        }
    </table>
}
else
{
    <span>@LicenseTool.ResourceLibrary.Common.NoDataFound!</span>
}
