﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2><img src="@ViewBag.Plugin.GetIconPath(HttpContext.Current)" alt="@ViewBag.Title" />@ViewBag.Title</h2>

@ViewBag.Plugin.RenderResultHtml(HttpContext.Current)
