﻿@{
    ViewBag.Title = @LicenseTool.ResourceLibrary.Common.Upload;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><img src="~/Images/upload.png" alt="@ViewBag.Title" />@ViewBag.Title</h2>
<p>@LicenseTool.ResourceLibrary.Common.UploadManageFiles</p>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    if (ViewBag.ErrorItems != null && ViewBag.ErrorItems.Length > 0)
    { 
        <p>@LicenseTool.ResourceLibrary.Common.UploadErrorFiles</p>
        @Html.ListBox("ErrorItems", new MultiSelectList(ViewBag.ErrorItems,
                         "Name", "Name", ViewBag.ErrorItemsSelected), new { multiple = "multiple" })
        <input type="submit" name="DeleteError" value="@LicenseTool.ResourceLibrary.Common.UploadDeleteSelected" />
    }

    if (ViewBag.DoneItems != null && ViewBag.DoneItems.Length > 0)
    {
        <p>@LicenseTool.ResourceLibrary.Common.UploadDoneFiles</p>
        @Html.ListBox("DoneItems", new MultiSelectList(ViewBag.DoneItems,
                         "Name", "Name", ViewBag.DoneItemsSelected), new { multiple = "multiple" })
        <input type="submit" name="DeleteDone" value="@LicenseTool.ResourceLibrary.Common.UploadDeleteSelected" /><br /><br />
    }

    if ((ViewBag.ErrorItems != null && ViewBag.ErrorItems.Length > 0) ||
        (ViewBag.DoneItems != null && ViewBag.DoneItems.Length > 0))
    {
        <input type="submit" name="DeleteAll" value="@LicenseTool.ResourceLibrary.Common.UploadDeleteAll" />
    }
    else
    {
        <p>@LicenseTool.ResourceLibrary.Common.NoDataFound!</p>
    }

    <br /><p>@Html.ActionLink(@LicenseTool.ResourceLibrary.Common.Home,"Index","Home")</p>
}