﻿@{
    ViewBag.Title = @LicenseTool.ResourceLibrary.Common.Upload;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header {
    @Styles.Render("~/bundles/dropzonescss")
}
<h2><img src="~/Images/upload.png" alt="@ViewBag.Title" />@ViewBag.Title</h2>
<p>@LicenseTool.ResourceLibrary.Common.UploadDescription</p>

@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { @class = "dropzone", @id = "dropzoneForm", enctype = "multipart/form-data" }))
{
    <div class="dz-message" data-dz-message><span>@LicenseTool.ResourceLibrary.Common.UploadDropHere<br />@LicenseTool.ResourceLibrary.Common.UploadClickSelect</span></div>
    <div class="fallback">
        <input name="file" type="file" multiple />
        <input type="submit" value="Upload" />
    </div>
}

@using (Html.BeginForm("UploadProceed", "Home", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    <input type="submit" id="Proceed" class="needstooltip" value="@LicenseTool.ResourceLibrary.Common.Proceed" title="@LicenseTool.ResourceLibrary.Common.UploadParse" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/dropzonescripts")
    @Html.Partial("~/Views/Shared/Tooltip.cshtml")
    <script>
        Dropzone.options.dropzoneForm = {
            maxFilesize: 1, // MB
            uploadMultiple: true,
            parallelUploads: 20,
            maxFiles: 20,
            autoProcessQueue: true,
            accept: function(file, done) {
                if (file.name.match(/(\.exe|\.bat|\.com|\.cmd|\.dll)$/) ||
                    file.name.indexOf("..")>-1) {
                    done("@LicenseTool.ResourceLibrary.Common.NotAllowedFileType!");
                }
                else { done(); }
            },
            init: function () {
                this.on("complete", function (file) {
                    if (file != null && file.xhr != null && file.xhr.responseText != null &&
                        file.xhr.responseText.length > 0) {
                        var res = eval('(' + file.xhr.responseText + ')');
                        alert(res.Message);
                    }
                });
            }
        };
    </script>
}
