﻿@{
    ViewBag.Title = @LicenseTool.ResourceLibrary.Common.WindowsService;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><img src="~/Images/service.png" alt="@ViewBag.Title" />@ViewBag.Title</h2>

<p>
    @LicenseTool.ResourceLibrary.Common.WindowsServiceT
</p>

<h3>@LicenseTool.ResourceLibrary.Common.WindowsServiceDownload:</h3>
    @LicenseTool.ResourceLibrary.Common.WindowsServiceDownloadT <a href="~/Content/binaries/LicenseTool.GatheringService_Setup.exe" alt="LicenseTool.GatheringService_Setup.exe">@LicenseTool.ResourceLibrary.Common.WindowsServiceDownloadHere</a>.

<h3>@LicenseTool.ResourceLibrary.Common.WindowsServiceUsage:</h3>
    @LicenseTool.ResourceLibrary.Common.WindowsServiceUsageT
<ul>
    <li>
        <h5>@LicenseTool.ResourceLibrary.Common.Step 1</h5>
        <p>@LicenseTool.ResourceLibrary.Common.WindowsServiceUsageStep1</p>
        <p style="margin-left: 20px;">
            <i>&lt;add name="LicenseToolDatabaseEntities" connectionstring="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&amp;quot;data source=(LocalDB)\v11.0;attachdbfilename=C:\Examples\LicenseToolDatabase.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&amp;quot;" providername="System.Data.EntityClient" /&gt;</i>
        </p>
    </li>
    <li>
        <h5>@LicenseTool.ResourceLibrary.Common.Step 2</h5>
        <p>@LicenseTool.ResourceLibrary.Common.WindowsServiceUsageStep2</p>
        <p style="margin-left: 20px;">
            <i>
                &lt;setting name="TempLocation" serializeas="String"&gt;
                &lt;value&gt;C:\Temp&lt;/value&gt;
                &lt;/setting&gt;<br />
                &lt;setting name="LmutilPath" serializeas="String"&gt;
                &lt;value&gt;C:\FlexLM\lmutil.exe&lt;/value&gt;
                &lt;/setting&gt;
            </i>
        </p>
    </li>
    <li>
        <h5>@LicenseTool.ResourceLibrary.Common.Step 3</h5>
        <p>@LicenseTool.ResourceLibrary.Common.WindowsServiceUsageStep31</p>
        <p style="margin-left: 20px;">
            <i>
                &lt;setting name="Domain" serializeas="String"&gt;
                &lt;value&gt;any.domain.ch&lt;/value&gt;
                &lt;/setting&gt;<br />
                &lt;setting name="ActiveDirectorySearchRoot" serializeas="String"&gt;
                &lt;value&gt;LDAP://CN=Users,DC=any,DC=domain,DC=ch&lt;/value&gt;
                &lt;/setting&gt;
            </i>
        </p>
        <p>@LicenseTool.ResourceLibrary.Common.WindowsServiceUsageStep32</p>
        <p style="margin-left: 20px;">
            <i>
                &lt;setting name="ActiveDirectorySearchUser" serializeas="String"&gt;
                &lt;value&gt;userName&lt;/value&gt;
                &lt;/setting&gt;<br />
                &lt;setting name="ActiveDirectorySearchPwd" serializeas="String"&gt;
                &lt;value&gt;password&lt;/value&gt;
                &lt;/setting&gt;
            </i>
        </p>
    </li>
    <li>
        <h5>@LicenseTool.ResourceLibrary.Common.Step 4</h5>
        <p>@LicenseTool.ResourceLibrary.Common.WindowsServiceUsageStep4</p>
        <p style="margin-left: 20px;">
            <i>
                &lt;setting name="MainThreadSleepInterval" serializeas="int"&gt;
                &lt;value&gt;10&lt;/value&gt;
                &lt;/setting&gt;<br />
            </i>
        </p>
    </li>
    <li>
        <h5>@LicenseTool.ResourceLibrary.Common.Step 5</h5>
        <p>@LicenseTool.ResourceLibrary.Common.WindowsServiceUsageStep5</p>
    </li>
    <li>
        <h5>@LicenseTool.ResourceLibrary.Common.Step 6</h5>
        <p>@LicenseTool.ResourceLibrary.Common.WindowsServiceUsageStep6</p>
    </li>
    <li>
        <h5>@LicenseTool.ResourceLibrary.Common.Step 7</h5>
        <p>@LicenseTool.ResourceLibrary.Common.WindowsServiceUsageStep7</p>
    </li>
</ul>