﻿@model LicenseTool.WebApplication.Models.LicHostSearchModel

@{
    ViewBag.Title = LicenseTool.ResourceLibrary.Model.Hosts;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><img src="~/Images/computer.png" alt="@ViewBag.Title" />@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "LicHost"))
{
    @Html.AntiForgeryToken()
    <p>
    <p>
        Search hosts using license server:<br />
        @Html.DropDownListFor(model => model.SelectedLicServer, (SelectList)ViewBag.AllLicServers, "", new { })
    </p>
    <p>
        Search hosts using license of given license server:<br />
        @Html.DropDownListFor(model => model.SelectedLicense, (SelectList)ViewBag.AllLicenses, "", new { })
    </p>
    @Html.HiddenFor(model => model.SelectedLicHost)
    @Html.HiddenFor(model => model.SelectedLicUser)
    @Html.HiddenFor(model => model.PagingStartIndex)
    @Html.HiddenFor(model => model.SortColumn)
    @Html.HiddenFor(model => model.SortDirection)
    <input type="submit" value="@LicenseTool.ResourceLibrary.Common.Search" />
    </p>
    <p>
    </p>
    <table>
        <tr>
            <th>
                <a onclick="LicToolSortPage('Name'); return false;" href="#">@Html.DisplayNameFor(model => model.Name)</a>
            </th>
            <th class="noprint"></th>
        </tr>
        <tr class="noprint">
            <td>
                @Html.SearchEditorFor(model => model.Name)
            </td>
            <td class="noprint">
                <input type="submit" value="@LicenseTool.ResourceLibrary.Common.Search" />
            </td>
        </tr>

        @foreach (LicenseTool.ClassLibrary.LicHost item in ViewBag.ShownItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="noprint">
                    @Html.ActionLinkWithImage("", "Edit", new { id = item.Id }, "~/Images/edit.png", LicenseTool.ResourceLibrary.Common.Edit, new { @width = "32", @height = "32" })
                    @Html.ActionLinkWithImage("", "Details", new { id = item.Id }, "~/Images/details.png", LicenseTool.ResourceLibrary.Common.Details, new { @width = "32", @height = "32" })
                    @Html.ActionLinkWithImage("", "Delete", new { id = item.Id }, "~/Images/delete.png", LicenseTool.ResourceLibrary.Common.Delete, new { @width = "32", @height = "32" })
                    @Html.ActionLinkWithImage("", "Index", "LicUser", new { hostId = item.Id }, null, "~/Images/user.png", LicenseTool.ResourceLibrary.Model.Users, new { @width = "32", @height = "32" })
                    @Html.ActionLinkWithImage("", "Index", "LicenseUsage", new { hostId = item.Id }, null, "~/Images/usage.png", LicenseTool.ResourceLibrary.Model.Usages, new { @width = "32", @height = "32" })
                </td>
            </tr>
        }

    </table>
    @Html.Partial("~/Views/Shared/Paging.cshtml", Model);
}

<div class="content-group noprint">
    @Html.ActionLinkWithImage(LicenseTool.ResourceLibrary.Common.CreateNew, "Create", "~/Images/add.png", LicenseTool.ResourceLibrary.Common.CreateNew, new { @width = "32", @height = "32" })
</div>

@section Scripts {
    @Html.Partial("~/Views/Shared/Sorting.cshtml", Model)
    @Scripts.Render("~/bundles/jqueryui")
    @Html.Partial("~/Views/Shared/Tooltip.cshtml")
}
