﻿<!DOCTYPE html>
<html lang="@System.Threading.Thread.CurrentThread.CurrentUICulture.Name">
<head>
    <meta charset="utf-8" />
    <title>@LicenseTool.ResourceLibrary.Common.LicenseTool - @ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @RenderSection("header", required: false)
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/cssp")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="main-wrapper">
        <header class="noprint">
            <div class="content-wrapper">
                <div class="float-left">
                    @Html.ActionLinkWithImage("", "Index", "Home", "~/Images/license.png", LicenseTool.ResourceLibrary.Common.Home, new { @height = "64", @width = "64" })
                </div>
                <div class="float-left">
                    <h1>@LicenseTool.ResourceLibrary.Common.LicenseTool</h1>
                </div>
                <div class="float-right" style="margin-left: 10px;">
                    <a onclick="window.print(); return false;" href="#"><img src="~/Images/print.png" alt="Print" /></a>
                </div>
                <div class="float-right">
                    <section id="login">
                        @LicenseTool.ResourceLibrary.Common.Hello, <span class="username">@User.Identity.Name</span>
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink(LicenseTool.ResourceLibrary.Common.Home, "Index", "Home")</li>
                            <li>@Html.ActionLink(LicenseTool.ResourceLibrary.Common.About, "About", "Home")</li>
                            <li>@Html.ActionLink(LicenseTool.ResourceLibrary.Common.Contact, "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="content-wrapper-reset"></div>
        </header>
        <div class="main-content">
            <section class="content-wrapper">
                @RenderBody()
            </section>
            <div class="content-wrapper-reset"></div>
        </div>
        <footer class="noprint">
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - @LicenseTool.ResourceLibrary.Common.LicenseTool @LicenseTool.ResourceLibrary.Common.By Konrad Brunner</p>
                </div>
            </div>
            <div class="content-wrapper-reset"></div>
        </footer>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
