﻿@model LicenseTool.WebApplication.Models.IPageModel

@{

    int minbound = 1;
    int maxbound = ((Model.MaxItems + Model.PageSize -1) / Model.PageSize);
    int index = Model.PagingStartIndex + 1;
    
    int lbound = index - 5;
    int ubound = index + 5;

    if (lbound < minbound)
    {
        ubound += minbound - lbound;
        lbound = minbound;
    }

    if (ubound > maxbound)
    {
        lbound -= ubound - maxbound;
        if (lbound < minbound) { lbound = minbound; }
        ubound = maxbound;
    }

}
<script>
    function LicToolLoadPage(pageId)
    {
        $( "#PagingStartIndex" ).val(pageId-1);
        $( "form" ).submit();
    }
</script>
<div class="pager noprint">
    @for (int i = minbound; i <= maxbound; i++)
    {
        if ((i == minbound || i == maxbound || (i >= lbound && i <= ubound)) && lbound != ubound)
        {
            if (i == maxbound && ubound < maxbound)
            {
                <span>...</span>
            }
            if (i == index)
            {
                <span>@i</span>
            }
            else
            {
                <a onclick="LicToolLoadPage(@i); return false;" href="#">@i</a>
            }
            if (i == minbound && lbound > minbound)
            {
                <span>...</span>
            }
        }
    }
</div>
