﻿@model LicenseTool.ClassLibrary.LicServer

@{
    ViewBag.Title = @LicenseTool.ResourceLibrary.Common.Create;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><img src="~/Images/server.png" alt="@ViewBag.Title" />@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@LicenseTool.ResourceLibrary.Model.LicServer</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LicHost1, "NavLicHost1")
        </div>
        <div class="editor-field">
            @Html.DropDownList("LicHost1", String.Empty)
            @Html.ValidationMessageFor(model => model.LicHost1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LicPort1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LicPort1)
            @Html.ValidationMessageFor(model => model.LicPort1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LicFile1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LicFile1)
            @Html.ValidationMessageFor(model => model.LicFile1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LicHost2, "NavLicHost2")
        </div>
        <div class="editor-field">
            @Html.DropDownList("LicHost2", String.Empty)
            @Html.ValidationMessageFor(model => model.LicHost2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LicPort2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LicPort2)
            @Html.ValidationMessageFor(model => model.LicPort2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LicFile2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LicFile2)
            @Html.ValidationMessageFor(model => model.LicFile2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LicHost3, "NavLicHost3")
        </div>
        <div class="editor-field">
            @Html.DropDownList("LicHost3", String.Empty)
            @Html.ValidationMessageFor(model => model.LicHost3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LicPort3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LicPort3)
            @Html.ValidationMessageFor(model => model.LicPort3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LicFile3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LicFile3)
            @Html.ValidationMessageFor(model => model.LicFile3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VendorName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VendorName)
            @Html.ValidationMessageFor(model => model.VendorName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ServerStatus)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ServerStatus)
            @Html.ValidationMessageFor(model => model.ServerStatus)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VendorStatus)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VendorStatus)
            @Html.ValidationMessageFor(model => model.VendorStatus)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ServerVersion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ServerVersion)
            @Html.ValidationMessageFor(model => model.ServerVersion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VendorVersion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VendorVersion)
            @Html.ValidationMessageFor(model => model.VendorVersion)
        </div>

        <p>
            <input type="submit" value="@LicenseTool.ResourceLibrary.Common.Create" />
        </p>
    </fieldset>
}

<div>
    @Html.Partial("~/Views/Shared/BackToList.cshtml")
</div>

@section Scripts {
    @Html.Partial("~/Views/Shared/Validation.cshtml")
}
