﻿@model LicenseTool.ClassLibrary.LicServer

@{
    ViewBag.Title = @LicenseTool.ResourceLibrary.Common.Delete;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><img src="~/Images/server.png" alt="@ViewBag.Title" />@ViewBag.Title</h2>

<h3>@LicenseTool.ResourceLibrary.Common.AreYouSureDelete</h3>
<fieldset>
    <legend>@LicenseTool.ResourceLibrary.Model.LicServer</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NavLicHost1.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NavLicHost1.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LicPort1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LicPort1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LicFile1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LicFile1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NavLicHost2.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NavLicHost2.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LicPort2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LicPort2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LicFile2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LicFile2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NavLicHost3.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NavLicHost3.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LicPort3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LicPort3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LicFile3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LicFile3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VendorName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VendorName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ServerStatus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ServerStatus)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VendorStatus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VendorStatus)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ServerVersion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ServerVersion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VendorVersion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VendorVersion)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="@LicenseTool.ResourceLibrary.Common.Delete" /> |
        @Html.Partial("~/Views/Shared/BackToList.cshtml")
    </p>
}
