﻿@model LicenseTool.WebApplication.Models.LicServerSearchModel

@{
    ViewBag.Title = @LicenseTool.ResourceLibrary.Model.LicenseServers;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><img src="~/Images/server.png" alt="@ViewBag.Title" />@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.PagingStartIndex)
    @Html.HiddenFor(model => model.SortColumn)
    @Html.HiddenFor(model => model.SortDirection)
    <p>
    </p>
    <table>
        <tr>
            <th>
                <a onclick="LicToolSortPage('Name'); return false;" href="#">@Html.DisplayNameFor(model => model.Name)</a>
            </th>
            <th>
                <a onclick="LicToolSortPage('LicHost'); return false;" href="#">
                    Server1<br />
                    Server2<br />
                    Server3
                </a>
            </th>
            <th>
                <a onclick="LicToolSortPage('VendorName'); return false;" href="#">@Html.DisplayNameFor(model => model.VendorName)</a>
            </th>
            <th>
                <a onclick="LicToolSortPage('ServerStatus'); return false;" href="#">@Html.DisplayNameFor(model => model.ServerStatus)</a>
            </th>
            <th>
                <a onclick="LicToolSortPage('VendorStatus'); return false;" href="#">@Html.DisplayNameFor(model => model.VendorStatus)</a>
            </th>
            <th>
                <a onclick="LicToolSortPage('ServerVersion'); return false;" href="#">@Html.DisplayNameFor(model => model.ServerVersion)</a>
            </th>
            <th>
                <a onclick="LicToolSortPage('VendorVersion'); return false;" href="#">@Html.DisplayNameFor(model => model.VendorVersion)</a>
            </th>
            <th class="noprint"></th>
        </tr>
        <tr class="noprint">
            <td>
                @Html.SearchEditorFor(model => model.Name)
            </td>
            <td>
                @Html.SearchEditorFor(model => model.SelectedLicHost)
            </td>
            <td>
                @Html.SearchEditorFor(model => model.VendorName)
            </td>
            <td>
                @Html.SearchDropDownListFor(model => model.ServerStatus, (SelectList)ViewBag.AllServerAndVendorStatus, "", new { })
            </td>
            <td>
                @Html.SearchDropDownListFor(model => model.VendorStatus, (SelectList)ViewBag.AllServerAndVendorStatus, "", new { })
            </td>
            <td>
                @Html.SearchEditorFor(model => model.ServerVersion)
            </td>
            <td>
                @Html.SearchEditorFor(model => model.VendorVersion)
            </td>
            <td class="noprint">
                <input type="submit" value="@LicenseTool.ResourceLibrary.Common.Search" />
            </td>
        </tr>

        @foreach (LicenseTool.ClassLibrary.LicServer item in ViewBag.ShownItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (item.NavLicHost3 != null && !string.IsNullOrEmpty(item.NavLicHost3.Name))
                    {
                        @(Html.DisplayFor(modelItem => item.NavLicHost1.Name) + "@" + Html.DisplayFor(modelItem => item.LicPort1))<br />
                        @(Html.DisplayFor(modelItem => item.NavLicHost2.Name) + "@" + Html.DisplayFor(modelItem => item.LicPort2))<br />
                        @(Html.DisplayFor(modelItem => item.NavLicHost3.Name) + "@" + Html.DisplayFor(modelItem => item.LicPort3))
                    }
                    else
                    {
                        @(Html.DisplayFor(modelItem => item.NavLicHost1.Name) + "@" + Html.DisplayFor(modelItem => item.LicPort1))
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VendorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServerStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VendorStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServerVersion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VendorVersion)
                </td>
                <td class="noprint">
                    @Html.ActionLinkWithImage("", "Edit", new { id = item.Id }, "~/Images/edit.png", LicenseTool.ResourceLibrary.Common.Edit, new { @width = "32", @height = "32" })
                    @Html.ActionLinkWithImage("", "Details", new { id = item.Id }, "~/Images/details.png", LicenseTool.ResourceLibrary.Common.Details, new { @width = "32", @height = "32" })
                    @Html.ActionLinkWithImage("", "Delete", new { id = item.Id }, "~/Images/delete.png", LicenseTool.ResourceLibrary.Common.Delete, new { @width = "32", @height = "32" })
                    @Html.ActionLinkWithImage("", "Index", "License", new { serverId = item.Id }, null, "~/Images/license.png", LicenseTool.ResourceLibrary.Model.Licenses, new { @width = "32", @height = "32" })
                    @Html.ActionLinkWithImage("", "Index", "LicUser", new { serverId = item.Id }, null, "~/Images/user.png", LicenseTool.ResourceLibrary.Model.Users, new { @width = "32", @height = "32" })
                    @Html.ActionLinkWithImage("", "Index", "LicHost", new { serverId = item.Id }, null, "~/Images/computer.png", LicenseTool.ResourceLibrary.Model.Hosts, new { @width = "32", @height = "32" })
                    @Html.ActionLinkWithImage("", "Index", "LicenseUsage", new { serverId = item.Id, showOutOnly = true }, null, "~/Images/overview.png", LicenseTool.ResourceLibrary.Common.Overview, new { @width = "32", @height = "32" })
                </td>
            </tr>
        }

    </table>
    @Html.Partial("~/Views/Shared/Paging.cshtml", Model);
}

<div class="content-group noprint">
    @Html.ActionLinkWithImage(LicenseTool.ResourceLibrary.Common.CreateNew, "Create", "~/Images/add.png", LicenseTool.ResourceLibrary.Common.CreateNew, new { @width = "32", @height = "32" })
</div>

@section Scripts {
    @Html.Partial("~/Views/Shared/Sorting.cshtml", Model)
    @Scripts.Render("~/bundles/jqueryui")
    @Html.Partial("~/Views/Shared/Tooltip.cshtml")
}
